@model dynamic

@{
    ViewBag.Title = "title";
}

<center><h2>This is Pretty Kickass!</h2></center>

<div class="row collapse">
    <div class="large-8 large-centered columns">
        <div class="home-page-wrapper">
            <button class="button large primary large-centered columns list">List Item</button>
        </>
    </div>
</div>