@model dynamic

@{
    Layout = "_AuctionLayout.cshtml";
}

<div class="header">
    <center><h2 class="headertext">This is Pretty Kickass!</h2></center>
</div>  

<div class="row collapse">
    <div class="large-8 large-centered columns">
        <div class="panel home-page-wrapper">
            <button class="button large primary large-centered columns list">List Item</button>
        </div>
    </div>
</div>
