@model dynamic

@{
    Layout = "_AuctionLayout.cshtml";
}

<div class="header">
    <center><h2 class="headertext">This is Pretty Kickass!</h2></center>
</div>  

<div class="row collapse">
    <div class="large-8 large-centered columns">
        <div class="panel home-page-wrapper">
            <button class="button large primary large-centered columns list" data-bind="click: createItem">List Item</button>
        </div>
    </div>
</div>

<!-- ko 'if': itemToList() -->
<div class="row collapse">
    <div class="large-9 large-centered columns edit">
        <div class="panel">
            <div class="row collapse">
                <div class="large-2 columns">
                    <label class="field-header">Title</label>
                </div>
                <div class="large-10 columns">
                    <input type="text" data-bind="value: listTitle" placeholder="Please enter the listing title"/>
                </div>
            </div>
            <div class="row collapse">
                <div class="large-2 columns">
                    <label class="field-header">Category</label>
                </div>
                <div class="large-10 columns">
                    <input type="text" data-bind="value: listCategory" placeholder="Please select category"/>
                </div>
            </div>
            <div class="row collapse">
                <div class="large-2 large-centered columns">
                    <button class="primary" data-bind="click: done">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->

<script>
    ko.applyBindings(vm);
</script>
