<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    @*<link id="Favicon" rel="shortcut icon" href="@Url.Image()" />*@
    <link type="text/css" rel="stylesheet" href="~/Content/css/lib/foundation.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/Auction.css" />
    
    <title>@ViewBag.Title</title>
    
    <script type="text/javascript" src="~/Content/js/lib/foundation/foundation.js"></script>
    <script type="text/javascript" src="~/Content/js/lib/knockout/knockout-2.3.0.debug.js"></script>
    <script type="text/javascript" src="~/Content/js/lib/knockout/knockout.validation.js"></script>

</head>
<body>
    @RenderBody()
</body>
</html>
