* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
     background: -webkit-linear-gradient(top, #111111, #FFFFFF);
}

.home-page-wrapper {
    background: white;
    height: 100%;
}

h2 {
    color: white;
}

.list {
    margin-bottom: 0;
}