* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
<<<<<<< HEAD
    background: -webkit-linear-gradient(top, #111111, #FFFFFF);
}

.header {
    background: grey;
    position: fixed;
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
=======
     background: -webkit-linear-gradient(top, #111111, #000FF);
>>>>>>> bd08058f6d46d566de4f33005c7f21844f6725f0
}

.home-page-wrapper {
    margin-top: 100px;
    background: white;
    height: 100%;
}

.headertext {
    color: white;
    margin-top: 0;   
}

.list {
    margin-bottom: 0;
}